<div class="container titulo">
  <div class="row justify-content-center">
    <div class="col-xs-12">
      <div class="section-header">
        <h1 class="section-title">Our games</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-xs-12 col-md-12">
        <% if notice %>
          <p class="notice"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert"><%= alert %></p>
        <% end %>  
      </div>
  </div>
  <% if user_signed_in? %>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <%= link_to "Nuevo", new_game_path, class: "button" %>
        </div>
    </div>
  <% end %>
  <% contador = 0 %>
  <% @games.each do |g| %>
    <% if contador % 2 == 0 %>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <hr>
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <% @pictures = Picture.where("game_id" => g[:id]) %>
              <% if @pictures.empty? %>
                <%= link_to(image_tag(image_path("Placeholder.png")), game_path(g[:name])) %>
              <% else %>
                <%= link_to(image_tag(image_path(@pictures[0].image)), game_path(g[:name])) %>
              <% end %>
            </div>
            <div class="col-xs-12 col-md-8">
              <h2><%= link_to g[:name], game_path(g[:name]) %></h2>
              <br>
              <%= g[:description] %>
            </div>
          </div>
          <% if contador == @total -1 %>
            <hr>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <hr>
          <div class="row">
            <div class="col-xs-12 col-md-8">
              <h2><%= link_to g[:name], game_path(g[:name]) %></h2>
              <br>
              <%= simple_format(g[:description].slice(0, 150)) %>
            </div>
            <div class="col-xs-12 col-md-4">
              <% @pictures = Picture.where("game_id" => g[:id]) %>
              <% if @pictures.empty? %>
                <%= link_to(image_tag(image_path("Placeholder.png")), game_path(g[:name])) %>
              <% else %>
                <%= link_to(image_tag(image_path(@pictures[0].image)), game_path(g[:name])) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% contador = contador + 1 %>
  <% end %>
  <hr>
  <% if user_signed_in? %>
    <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="btn">
            <%= link_to "Nuevo", new_game_path, class: "button" %>
          </div>
        </div>
    </div>
  <% end %>
</div>
