<div class="container titulo">
  <div class="row justify-content-center">
    <div class="col-xs-12">
      <div class="section-header">
        <h1 class="section-title">Nuevo Juego</h1>
      </div>
    </div>
  </div>
</div>
<section id="nuevo-juego">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-md-8">
        <% if notice %>
          <p class="notice"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert"><%= alert %></p>
        <% end %>  
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xs-12 col-md-8">
        <div class="form">
          <div id="errormessage"></div>
          <%= form_for(@game, html: {multiple: true}) do |f| %>
            <div class="form-group">
              <%= f.text_field :name, :class => "form-control", :placeholder => "Nombre" %>
            </div>
            <div class="form-group">
              <%= f.text_field :description, :class => "form-control", :placeholder => "Descripción (texto CORTO)" %>
            </div>
            <div class="form-group">
              <%= f.text_area :information, :class => "form-control", :placeholder => "Información", :rows => "5" %>
            </div>
            <div class="form-group">
              <%= f.text_area :features, :class => "form-control", :placeholder => "Lista de características", :rows => "5" %>
            </div>
            <div class="form-group">
              <%= f.text_area :requirements, :class => "form-control", :placeholder => "Requerimientos", :rows => "5" %>
            </div>
            <%= f.submit "Crear juego" %>
          <% end %>
        </div>
      </div>
    </div>  
  </div>
</section>