<% if @pictures.size > 1 %>
  <div id="carrusel">
      <ul id="slippry-slider">
        <% @pictures.each do |pic| %>
          <li>
            <a href=""><img src="<%= image_path(pic.image) %>" ></a>
          </li>
        <% end %>
      </ul>
  </div>
<% end %>
<div class="container wow fadeInUp titulo">
  <div class="row">
      <div class="col-xs-12 col-md-12">
        <% if notice %>
          <p class="notice"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert"><%= alert %></p>
        <% end %>  
      </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xs-12">
      <div class="section-header">
        <h1 class="section-title"><%= @game[:name] %></h1>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xs-12">
      <h2><%= @game[:description] %></h2>
    </div>
  </div>
  <% if @pictures.size == 1 %>
    <div class="row wow fadeInUp">
      <div class="col-xs-12 col-md-12">
        <img src="<%= image_path(@pictures[0][:image]) %>" />
      </div>
    </div>
  <% end %>
  <% if user_signed_in? %>
    <div class="row wow fadeInLeft">
        <div class="col-xs-12 col-md-12">
            <button type="button"><%= link_to "Editar", edit_game_path(@game[:id])%></button>
            <button type="button"><%= link_to "Eliminar", game_path(@game[:id]), method: :delete%></button>
        </div>
    </div>
  <% end %>
</div>
<!-- carrusel -->
<div class="container">
  <div class="row wow fadeInLeft">
    <div class="col-xs-12 col-md-12">
      <hr>
      <h3>Information</h3>
      <br>
      <p><%= @game[:information] %></p>
    </div>
  </div>
  <div class="row wow fadeInRight">
    <div class="col-xs-12 col-md-12">
      <hr>
      <h3>Requirements</h3>
      <br>
      <p><%= @game[:requirements] %></p>
      <hr>
    </div>
  </div>
</div>