<% if @pictures.size > 1 %>
  <div id="carrusel">
    <ul id="slippry-slider">
      <% @pictures.each do |pic| %>
        <li>
          <img src="<%= image_path(pic.image) %>" >
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="container titulo">
  <div class="row">
      <div class="col-xs-12 col-md-12">
        <% if notice %>
          <p class="notice"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert"><%= alert %></p>
        <% end %>  
      </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xs-12">
      <div class="section-header">
        <h1 class="section-title"><%= @game[:name] %></h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4 class="descripcion"><%= @game[:description] %></h4>
    </div>
  </div>
  <% if @pictures.size == 1 %>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <img src="<%= image_path(@pictures[0][:image]) %>" />
      </div>
    </div>
  <% end %>
  <% if user_signed_in? %>
    <div class="row">
        <div class="col-xs-12 col-md-12">
          <%= link_to "Editar", edit_game_path(@game[:id]), class: "button" %>
          <%= link_to "Eliminar", game_path(@game[:id]), method: :delete, class: "button" %>
        </div>
    </div>
  <% end %>
</div>
<!-- carrusel -->
<div class="container">
  <% if @game[:name] == "Lopearth" %>
    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">
        <div class="videoWrapper">
          <iframe src="https://www.youtube.com/embed/J8bMnSsG4TY" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <hr>
      <h4 class="descripcion"><%= simple_format(@game[:information]) %></h4>
    </div>
  </div>
  <% if @game[:name] == "Lopearth" %>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <hr>
        <h3>Get it on Google Play now!</h3>
        <br>
        <a href="https://play.google.com/store/apps/details?id=com.Lopearth.Alpha"><img style="width: 300px" src="<%= image_path('google_play.png') %>"/></a> 
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <hr>
      <h3>Features</h3>
      <br>
      <p><%= simple_format(@game[:features]) %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <hr>
      <h3>Requirements</h3>
      <br>
      <p><%= simple_format(@game[:requirements]) %></p>
      <hr>
    </div>
  </div>
</div>