<div class="container titulo">
  <div class="row justify-content-center">
    <div class="col-xs-12">
      <div class="section-header">
        <h1 class="section-title">Blog</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <% if notice || alert %>
    <div class="row">
        <div class="col-xs-12 col-md-12">
          <% if notice %>
            <p class="notice"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert"><%= alert %></p>
          <% end %>  
        </div>
    </div>
  <% end %>
  <div class="filtros">
    <div class="row justify-content-center">
      <div class="col-12 paginacion">
        <nav class="paginacion">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="/blog">All</a>
            </li>
            <% @filtros.each do |fil| %>
              <li class="page-item">
                <a class="page-link" href="?filtro=<%= fil %>"><%= fil %></a>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <% if user_signed_in? %>
    <div class="row">
        <div class="col-xs-12 col-md-12">
          <%= link_to "Nuevo", new_post_path, class: "button" %>
        </div>
    </div>
  <% end %>
  <div class="posts">
    <% @posts.order("created_at DESC").each do |g| %>
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <hr>
            <div class="row">
              <div class="col-xs-12 col-md-4">
                <% @pictures = Picture.where("post_id" => g[:id]) %>
                <% if @pictures.empty? %>
                  <%= link_to(image_tag(image_path("Placeholder.png")), g) %>
                <% else %>
                  <%= link_to(image_tag(image_path(@pictures[0].image)), g) %>
                <% end %>
              </div>
              <div class="col-xs-12 col-md-8">
                <h2><%= link_to g[:title], g %></h2>
                <div class="date">
                  <small><%= g[:created_at].year %>-<%= g[:created_at].month %>-<%= g[:created_at].day %> &nbsp; &nbsp; by: <%= g.user[:username] %></small>
                </div>
                <% if g[:categories] %>
                  <div class="categorias">
                    <h5>Categories: </h5>
                    <% g[:categories].each do |a| %>
                      <h6><%= a %></h6>
                    <% end %>
                  </div>
                <% end %>
                <% if g[:tags] %>
                  <div class="etiquetas">
                    <h5>Tags: </h5>
                    <% g[:tags].each do |b| %>
                      <% if !b.include?("(o)") %>
                        <h6><%= b %></h6>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
                <p><%= simple_format(g[:description].slice(0,150) + "...") %></p>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  <hr />
  <% if user_signed_in? %>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <%= link_to "Nuevo", new_post_path, class: "button" %>
        </div>
    </div>
  <% end %>
  <div class="row justify-content-center">
    <div class="col-xs-12 col-md-12 paginacion">
      <%= paginate @posts %>
      <br>
      <%= page_entries_info @posts %>
    </div>
  </div>
</div>