<!DOCTYPE html>
<html>
  <head>
    
    <title>Gameslavespage</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    <!-- Favicons -->
    <link href="<%= image_path('favicon.png') %>" rel="icon">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
    
  <head>
  <body id="body">
    <div id="fb-root"></div>
      <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      </script>
    <!--#menu-->
    <header id="header">
      <div class="container">
        <div class="row">
          <div class="col-6 col-sm-5 col-md-3">
            <div id="logo" class="pull-left">
              <a href="/"><img src="<%= image_path('Logo.png') %>" alt="" title="" /></a>
              <!-- Uncomment below if you prefer to use a text logo -->
              <!--<h1><a href="#hero">Regna</a></h1>-->
            </div>
          </div>
          <div class="col-xs-3 col-md-9">
            <nav id="nav-menu-container">
              <ul class="nav-menu">
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "In Development", in_development_path %></li>
                <li><%= link_to "Games", games_path %></li>
                <li><%= link_to "Blog", blog_path %></li>
                <li><%= link_to "About Us", about_path %></li>
                <% if user_signed_in? %>
                  <li><%= link_to "Pictures", pictures_path %> </li>
                  <li><%= link_to "Contact Us", contact_path %></li>
                  <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                <% end %>
              </ul>
            </nav><!-- #nav-menu-container -->
          </div>
        </div>
      </div>
    </header><!-- #header -->
    <%= yield %>
    <!--#footer-->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
  
        </div>
      </div>
  
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xs-12">
            <div class="social-links">
              <a href="https://www.facebook.com/gameslavesteam/" class="facebook"><i class="fab fa-facebook-f"></i></a>
              <a href="https://www.instagram.com/gameslavesteam/" class="instagram"><i class="fab fa-instagram"></i></a>
              <a href="https://play.google.com/store/apps/developer?id=Gameslaves%20Team&hl=en" class="google-plus"><i class="fab fa-google-play"></i></a>
              <a href="https://www.youtube.com/channel/UCV_-mTTU_npPzxreT-XNnXw" class="youtube"><i class="fab fa-youtube"></i></a>
              <a href="https://twitter.com/gameslavesteam" class="twitter"><i class="fab fa-twitter"></i></a>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-xs-12">
            <div class="copyright">
              <!--
              &copy; Copyright <strong>Regna</strong>. All Rights Reserved
               -->
               &copy; Copyright <strong>Gameslaves</strong>. All Rights Reserved
            </div>
          </div>
        </div>
        <div class="credits">
          <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
          -->
          <!--
          Bootstrap Templates by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          -->
        </div>
      </div>
    </footer><!-- #footer -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    
    <%= javascript_include_tag 'jquery-migrate.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'bootstrap.bundle.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'easing.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'wow.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'waypoints.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'counterup.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'hoverIntent', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'superfish.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'contactform', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'slippry.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'main', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
